{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header>
        <h1>Contact OpenPP</h1>
    </header>

    <p>OpenPPへのお問い合わせ</p>
Contact Form:
    {% for flashMessage in app.session.flashbag.get('contact-notice') %}
    <div class="contact-notice">
        {{ flashMessage }}
    </div>
    {% endfor %}
    ここから
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div>
        {{ form_label(form.mailaddress) }}
        {{ form_row(form.mailaddress) }}
        </div>
        <div>
        {{ form_label(form.body) }}
        {{ form_row(form.body) }}
        </div>
        {{ form_row(form._token) }}
        {{ form_rest(form) }}

        <input type="submit" />
    {{ form_end(form) }}
    ここまで
{% endblock %}
